@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  &.banner {
    background-image: url('../images/banner.png');
  }
}

.header-menu {
  .ant-menu-item::after, .ant-menu-submenu::after {
    display: none;
  }
}

.ant-input-group-addon{
  border: none !important;
  background-color: #77C373 !important;
}

.text-size {
  @media (max-width: 576px) {
    font-size: 0.875rem;
    line-height: 1.25rem;
  }
}